@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Domine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
}

body {
    background-color: #efefef;
}

/*NAVBAR*/
nav {
    position: relative;
    width: 100%;
    height: 65px;
    text-align: center;
    background-color: rgb(119, 16, 16);
}

nav #logo {
    width: 100px;
    height: 65px;
    float: left;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    gap: 80px;
    list-style-type: none;
}

nav ul a {
    display: inline-block;
    padding: 18px 25px;
    text-decoration: none;
    color: #efefef;
    font-weight: bold;
}

nav ul a:hover {  
    background-color: rgba(236, 236, 236, 0.065);
}

.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    z-index: 1;
    right: 100px;
    bottom: 15px;
  }

  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #e02b2b;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/*HEADER*/
.header {
    position: relative;
}

.div-titolo {
    position: absolute;
    float: left;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.742);
    left: 40px;
    top: 200px;
    padding: 50px;
}

#titolo {
    color: white;
    font-size: 100px;
    font-weight: bold;
    min-width: 700px;

}

#header-img {
    width: 100%;
    height: 600px;   
}

/*CONTENT*/
p {
    text-align: justify;
    text-justify: inter-word;
    padding-top: 10px;
}

/*INTRODUZIONE*/
.div-introduzione {
    width: 100%;
    height: 100px;
    background-color: rgb(119, 16, 16);
    box-shadow: 0 0 10px rgb(125, 121, 121);
}

#aforisma {
    padding-top: 25px;
    text-align: center;
    font-size: 25px;
    font-family: 'Domine', serif;
    font-weight: 100;
    color: #f6f6f6;
}

/*STORIA*/
.capitolo {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.titolo-capitolo {
    font-size: 38px;
}

.text {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
}

.box-piccolo {
    position: relative;
    display: flex;
    width: 1400px;
    height: 420px;
    box-shadow: 0 0 10px rgb(125, 121, 121);
    background-color: white;
}

.box-piccolo h2 {
    font-size: 28px;
}

.box-piccolo .img {
    width: 450px;
    height: 400px;
}

.torna-su {
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    color: rgb(223, 13, 13);
    position: absolute;
    bottom: 25px;
    text-decoration: none;
}

.torna-su:hover {
    text-decoration: underline 2px;
}

.box-piccolo.sinistra .torna-su {
    right: 40px;
}


/*NORMATIVA*/
/*grid-normativa*/

.grid-normativa {
    display: grid;
    grid-template-rows: auto 450px;
    grid-template-columns: 600px 600px;
    row-gap: 40px;
    column-gap: 30px;
}

.box-grande {
    position: relative;
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgb(125, 121, 121);
    background-color: white;  
    padding-bottom: 50px;
}

.box-grande img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 300px;
    box-shadow: 0 0 10px rgb(125, 121, 121);
}

.box-grande .torna-su {
    right: 45px;
}

.box-piccolo-verticale {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgb(125, 121, 121);
    background-color: white;
}

.box-piccolo-verticale img {
    height: 200px;
    box-shadow: 0 0 10px rgb(125, 121, 121);
}

.box-piccolo-verticale p {
    padding-top: 10px;
}

.box-piccolo-verticale.destra .torna-su{
    right: 40px;
    bottom: 30px;
}

/*AGENDA 2030*/
.grid-agenda {
    display: grid;
    grid-template-columns: 900px auto;
    grid-template-rows: repeat(3, 300px);
    row-gap: 20px;
    column-gap: 20px;
}

.grid-agenda div {
    box-shadow: 0 0 10px rgb(125, 121, 121);
    background-color: white;  
}

.box-medio-agenda .flex-agenda {
    display: flex;
}

.box-medio-agenda .text {
    box-shadow: none;
}

.box-medio-agenda iframe{
    width: 300px;
    height: 300px;
}

.box-grande-agenda {
    grid-column: span 2;
}

.box-piccolo-agenda iframe {
    width: 100%;
    height: 100%;
}

/*SITOGRAFIA*/
.sitografia {
    width: 100%;
    height: 400px;
    background-color: rgb(119, 16, 16);
}

.sitografia .titolo-capitolo {
    text-align: center;
    margin-top: 40px;
    color: #efefef;
}


@media only screen and (max-width: 1500px) {

    #aforisma {
        font-size: 20px;    
    }

    .box-piccolo {
        width: 1100px;
    }

    .torna-su {
        font-size: 15px;
    }
    
    .text {
        font-size: 15px;
    }

    .grid-normativa {
        grid-template-columns: 500px 500px;
        grid-template-rows: auto 400px;
    }
    
    .grid-agenda {
        grid-template-columns: 800px 350px;
        grid-template-rows: repeat(3, 300px);
    }
}